@import "../../styles/main";

.table-container {
  max-height: 15em;
  overflow: auto;
  border: 1px solid #000000;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.table-model {
  width: 100%;
  background: #f9f9f9;
}

.card-cancelar-button{
    color: white;
    width: 100px;
    background: #F58426;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;  
}
