
 <div *ngIf="exames.length > 0">
     <h2 class="header_text"> LISTA DE EXAMES </h2>
    
    <div class="table-container">    
      <table mat-table [dataSource]="exames" class="table-model">
        
        <ng-container matColumnDef="download">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button (click) = "ExameDowload(element.Exame_ID)"><mat-icon>play_for_work</mat-icon></button>
          </td>
        </ng-container> 

        <ng-container matColumnDef="filename">
          <th mat-header-cell *matHeaderCellDef> NOME DO ARQUIVO </th>
          <td mat-cell *matCellDef="let element"> {{element.Nome_Arquivo}} </td>
        </ng-container>
      
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Descricão </th>
          <td mat-cell *matCellDef="let element"> {{element.Descricao}} </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef> DATA DE CRIAÇÃO </th>
          <td mat-cell *matCellDef="let element"> {{element.Data | date:'dd/MM/YYYY hh:mm' }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
      </table>
    </div>
 </div>

<div *ngIf="exames.length <= 0">
    <mat-card class="card-model">
        <mat-card-title class="card-header-model">
          NÃO HÁ EXAMES ANEXADOS
        </mat-card-title>
      </mat-card>
</div>