.buttons-container {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Inder';
    font-size: 24px;
  }
  
  .frase-btn {
    color: #D1EDFB;
    font-family: 'Roboto', sans-serif;
  }
  
  .btn {
    background-color: #FF9C72;
    color: #FFFF;
    margin-left: 20px; 
  }
  
  .header_text{
    font-family: K2D;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #F58426;
    padding-bottom: 5px;
    border-bottom: 1px solid #F58426;
    margin-top: 10PX;
  }

  .text-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  